---
services:
  game:
    image: "ghcr.io/rootshell-coder/l2-game-server:latest"
    ports:
      - "7777:7777"
      - "2106:2106"
    restart: "unless-stopped"
    deploy:
      resources:
        limits:
          cpus: '3.0'
          memory: 6G
        reservations:
          cpus: '3.0'
          memory: 6G
